h1 {
  color: grey;
  font-size: 50px;
  text-shadow: 3px 3px 10px rgba(218, 112, 214, 0.5);
  padding-top: 10px;
  position: relative;
  left: 12%;
}

.new-item {
  color: rgba(218, 112, 214, 0.75);
  text-shadow: 3px 3px 10px rgba(218, 112, 214, 0.5);

  position: relative;
  left: 12%;
  font-size: 20px;
  margin-bottom: 35px;
}

.new-item-link {
  text-decoration: none;
}

.money-display {
  position: relative;
  left: 7%;
}

hr {
  width: 300px;
  position: absolute;
  left: 6%;
  margin: 0px;
}

.subtitle {
  color: #000000;
  font-size: 35px;
  text-shadow: 3px 3px 10px rgba(218, 112, 214, 0.5);
}

h2 {
  font-size: 25px;
  text-decoration: underline;
}

h3 {
  font-size: 22px;
  font-style: oblique;
  margin-bottom: 70px;
}

form {
  display: flex;
  width: 20vw;
  flex-direction: column;
  justify-content: center;
}

input {
  padding: 8px;
}
